@import url(darkmode.css);
/* NAVEGAÇÃO */
.footer__container{
    width: 100%;
}

.nav__menu{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--base-color);
    text-align: center;
    padding: 10px 0;
}
.nav__list{
    display: flex;
    justify-content: space-evenly;
}
li{
    list-style-type: none;
}
.nav__link{
    height: 1.5em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.nav__link:hover{
    transform: scale(1.1);
}
.icon{
    display: inline-block;
}
.nav__menu__configuracoes{
    width: 100vw;
    height: 20vh;
    padding: 1.2em;

    border-radius: 10% 10% 0 0;
    position: fixed;
    bottom: 5%;

    display: flex;
    justify-content: end;
    align-items: center;
}
.visible{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}

/* BACKDROP */
.escurece__main{
    background-color: var(--backdrop);
}
/* DARKMODE */
#troca__tema svg:last-child{
    display: none;
}
.darkmode #troca__tema svg:first-child{
    display: none;
}
.darkmode #troca__tema svg:last-child{
    display: block;
}
/* BOTAO */
button{
    all: unset;
    cursor: pointer;

    background-color: var(--base-color);
    padding: 0.7em;
    border-radius: 50%;
}

/* @media (min-width: 1024px){
    .nav__menu__configuracoes{
        display: none;
    }
} */